<%- include("../partials/userHeader") %>
  <!-- HEADER FORM -->
  <div class="header-form-area bg-primary d-md-none">
    <form class="header-form" action="#" method="">
      <div class="input-group">
        <input type="text" class="form-control py-0" required="" id="expire" placeholder="Search...">
        <div class="input-group-append">
          <button class="input-group-text border-0 btn bg-white" type="submit">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.16667 14.8333C11.8486 14.8333 14.8333 11.8486 14.8333 8.16667C14.8333 4.48477 11.8486 1.5 8.16667 1.5C4.48477 1.5 1.5 4.48477 1.5 8.16667C1.5 11.8486 4.48477 14.8333 8.16667 14.8333Z"
                stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M16.5 16.5L12.875 12.875" stroke="#ccc" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-title">
            <h2>EDIT ADDRESS</h2>
          </div>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb float-right">
            <li>
              <a href='/profile'>Profile</a>
            </li>
            <li class="active">EDIT PROFILE</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix userProfile">

    <div style="
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:  rgb(255, 255, 255);" class="container rounded mt-0 mb-5">
      <div style="width: 50vw; background-color: rgb(218, 218, 218)">
        <div style="width: 50vw; padding: 30px">
          <form id="editAddressForm" action="/PostprofileEdit/<%=userInfo._id %>" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="fname" class="form-control p_input" value="<%=userInfo.fname %>" required />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" name="lname" class="form-control p_input" maxlength="10"
                    value="<%=userInfo.lname %>" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label> Email Address </label>
                  <input title="can't edit email" type="text" name="email" class="form-control p_input"
                    value="<%=userInfo.email %>" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control p_input" value="<%=userInfo.phone %>"
                      required />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="text" name="email" class="form-control p_input" value="*******" disabled />
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">
                  Edit
                </button>
              </div>
          </form>
          <form action="/passchange">
            <button style="width: 400px; margin-left: 185px; margin-top: 20px;" type="submit"
              class="btn btn-warning btn-block enter-btn">
              Change Password
            </button>
          </form>

        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>

  <script>

    $("#editAddressForm").validate({
      rules: {
        name: {
          required: true,
          minlength: 4,
          maxlength: 12,
        },
        Phone: {
          required: true,
          minlength: 10,
          maxlength: 10,
        },
        Address: {
          required: true,
        },
        State: {
          required: true,
        },
        City: {
          required: true,
        }
      }
    })
  </script>
  <style>
    .error {
      color: red
    }
  </style>
  <%- include("../partials/userFooter") %>