<%- include('../adminPartials/header') %>

    <head>
        <title>Admin-Coupon</title>
    </head>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Coupon
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Coupon</h5>
                </div>
                <div class="modal-body">
                    <form id="addCoupon">
                        <div class="couponCodeInput p-2">
                            <label for="couponCode" class="mb-2">Coupon Code: </label>
                            <div class="input-group">
                                <input id="couponCode" name="couponCode" title="Enter a valid coupon code" type="text"
                                    class="form-control" placeholder="Enter coupon code" required minlength="5"
                                    maxlength="16">
                            </div>
                            <div class="form-text">Add a relevant coupon code eg: IPHONE12, IPHONE13, IPHONE14</div>
                        </div>
                        <div class="minimumPurchaseInput p-2">
                            <label for="minimumPurchase">Minimum Purchase: </label>
                            <div class="input-group">
                                <input id="minimumPurchase" name="minimumPurchase" type="text" class="form-control"
                                    placeholder="Enter minimum purchase required" required>
                            </div>
                            <div class="form-text">Minimum amount of purchase to be done to allow the coupon discount.
                            </div>
                        </div>
                        <div class="minimumPurchaseInput p-2">
                            <label for="minimumPurchase">Coupon Amount </label>
                            <div class="input-group">
                                <input id="couponamount" name="couponAmount" type="text" class="form-control"
                                    placeholder="Enter coupon amount" required>
                            </div>
                            <div class="form-text">Choose an amount to be discounted from the purchase amount
                            </div>
                        </div>
                        <div class="startDateInput p-2">
                            <label for="startDate">Coupon Start Date: </label>
                            <div class="input-group">
                                <input id="startDate" name="startDate" id="startDate" type="date" class="form-control"
                                    required>
                            </div>
                            <div class="form-text">Choose a start date for the discount to be considered.</div>
                        </div>

                        <div class="expiryDateInput p-2">
                            <label for="expiryDate">Coupon Expiry Date : </label>
                            <div class="input-group">
                                <input id="expiryDate" name="expiryDate" type="date" class="form-control" required>
                            </div>
                            <div class="form-text">Choose an exipry date for the discount to end.</div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
                <script>
                    var today = new Date().toISOString().split('T')[0];

                    document.addEventListener('DOMContentLoaded', function () {
                        document.getElementById('startDate').setAttribute('min', today);
                    });

                    var startDateInput = document.getElementById('startDate');
                    var endDateInput = document.getElementById('endDate');
                    var expiryDateInput = document.getElementById('expiryDate');

                    startDateInput.addEventListener('change', function () {
                        var startDate = startDateInput.value;
                        expiryDateInput.setAttribute('min', startDate);
                    });

                    expiryDateInput.addEventListener('change', function () {
                        var endDate = endDateInput.value;
                        expiryDateInput.setAttribute('max', endDate);
                    });
                </script>
            </div>
        </div>
    </div>

    <script>
        $('#addCoupon').validate({
            rules: {
                couponCode: {
                    required: true
                },
                minimumPurchase: {
                    required: true,
                    digits: true
                }, couponamount: {
                    required: true,
                    digits: true
                }
            },
            submitHandler: async (form, event) => {
                event.preventDefault()
                let formData = {
                    couponCode: form.couponCode.value,
                    couponAmount: form.couponAmount.value,
                    startDate: form.startDate.value,
                    expiryDate: form.expiryDate.value,
                    minimumPurchase: form.minimumPurchase.value,
                }
                let response = await fetch('/admin/addCoupon', {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(formData)
                })
                let result = await response.json()
                if (result.success) {
                    await Swal.fire({

                        icon: "success",
                        title: "Coupon Added",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    window.location.reload()
                }
            }
        })
    </script>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coupon Code</th>
                <th scope="col">Minimum Purchase</th>
                <th scope="col">Coupon Amount</th>
                <th scope="col">Start Date</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Status</th>
                <th scope="col">Edit Coupon</th>
                <th scope="col">Delete Coupon</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<couponDet.length;i++){ %>
                <tr>
                    <th scope="row">
                        <%=i+1%>
                    </th>
                    <td>
                        <%=couponDet[i].couponCode%>
                    </td>
                    <td>
                        <%=couponDet[i].minimumPurchase%>
                    </td>
                    <td>
                        <%=couponDet[i].couponAmount%>
                    </td>
                    <td>
                        <%=couponDet[i].startDate.toDateString()%>
                    </td>
                    <td>
                        <%=couponDet[i].expiryDate.toDateString()%>
                    </td>
                    <td>
                        <%=couponDet[i].status%>
                    </td>
                    <td>
                        <a href="/editCouponGet?couponId=<%= couponDet[i]._id %>">
                            <button id="unblock<%i%>" type="button" class="btn btn-info">Edit</button>
                        </a>
                    </td>
                    <td>
                        <button onclick="deleteCoupon('<%=couponDet[i]._id%>')" class="btn btn-danger">Delete</button>
                    </td>
                    <script>
                        async function deleteCoupon(couponId) {

                            await Swal.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, delete it!"
                            }).then(async (result) => {
                                if (result.isConfirmed) {
                                    let response = await fetch(`deleteCoupon?id=${couponId}`, {
                                        method: 'DELETE'
                                    })
                                    let result = await response.json()
                                    if (result.success) {
                                        await Swal.fire({
                                            icon: "success",
                                            title: "Coupon Deleted",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        window.location.reload()
                                    }
                                }
                            });

                        }
                    </script>
                </tr>
                <% } %>


        </tbody>
    </table>